<!DOCTYPE html>
<html>
    <head>
        <title> HackHealth! </title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <meta name="viewport" content="width=device-width, initial-scale=1">
                </head>
    
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dawweee</a>
                </div>
                
                <div id="navbar" class="navbar-collapse collapse">
                    <div id="right-side" class="pull-right">
                        <a data-toggle="tooltip" title="Click for cute pics :)" class="btn btn-default btn-lg" href="./pictures.html">Pictures</a>
                        <a data-toggle="tooltip" title="Click for cats playing the piano" class="btn btn-default btn-lg" href="./videos.html">Videos</a>
                    </div>
                </div><!--/.navbar-collapse -->
            </div>
        </nav>
        
        <img src="../static/logo.png", alt="Dawweee!" height="200" width="400">
            <p>Clicks above to see AWWEEEsome puppies! </p>
            </body>
</html>
